__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.DS_Store
coverage.xml
htmlcov/
junit/
*.tfstate
*.tfstate.backup
*.tfplan
.env
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl